@media screen and (max-width: 850px) {
  .NavItems {
    display: none;
  }
  .contentPack {
    padding:2rem;
    text-align: center;

  }

  .InstructionBlocks {
    display:flex;
    flex-direction: column;
    margin:4rem;
    color:black
  }
  .slideshow-container {
    text-align: center;
    overflow: hidden;
    width:80vw;
    margin:0 auto;
    border-radius: 1rem;
  }
  .InstructionBlocks p {
    text-align: center;
    font-size: 1.4rem;
  }
  .Instruction {
    text-align: center;
    flex: 1;
  }
  .Instruction img {
    height:5rem;
  }
  .MenuIcon {
    display: block;
    width: 30px;
    height: 30px;
    background: white;
    cursor: pointer;
  }

  .menu-bar {
    text-align: center;
  }
  .MobileNavItems,
  .MobileNavItems a {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: "coolvetica";
    justify-content: space-around;
    list-style: none;
    font-size: 2rem;
    text-decoration: none;
    color: white;
  }
  @font-face {
    font-family: "coolvetica";
    src: url("../../fonts/coolvetica rg.ttf") format("truetype");
    /* You might need to specify different formats for compatibility */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "inter";
    src: url("../../fonts/Inter-Regular.ttf") format("truetype");
    /* You might need to specify different formats for compatibility */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "inter-light";
    src: url("../../fonts/Inter-ExtraLight.ttf") format("truetype");
    /* You might need to specify different formats for compatibility */
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
    background-color: black;
    color: white;
  }

  section {
    padding: 1.4rem;
    min-height: 100vh;
    flex: 1;
  }
  /* Define styles for the header container */
  .HeaderContainer {
    background-image: url("../../img/head4.jpg");
    background-position-y: -16rem;
    background-size: cover;
    padding: 0.6rem;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #171618 #292929;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #292929;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #171618;
    border-radius: 10px;
    border: 3px inset #0a0a0a;
  }
  /* Style the navigation items */

  /* Center align the header title */
  .HeaderTitleContainer {
    text-align: center;
    margin-top: 2rem;
  }
  .HeaderTitle {
    font-family: "coolvetica";
    font-size: 4.5rem;
    color: white;
    font-weight: 900;
    letter-spacing: 0.2rem;
  }
  .GTitle {
    background-color: #0781eb;
    padding: 0.4rem;
    border-radius: 0.6rem;
    margin-right: 0.2rem;
  }

  /* Ensure no margin for body */
  body {
    margin: 0;
    padding: 0;
  }
  .PageBlock {
    margin-top: 4rem;
  }
  #aboutSection p {
    text-align: center;
  }
  h2 {
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: "inter";
  }
  h3 {
    color: black;
    font-family: "inter";
    font-size: 3rem;
  }
  p {
    font-family: "inter-light";
    font-size: 1.5rem;
  }
  .RequirementsPoint {
    font-weight: 800;
    font-size: 2rem;
  }
  .InstallationStep {
    background-color: #333;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .DropDownArrow {
    font-size: 2.5rem;
    cursor: context-menu;
  }
  .DropdownContent {
    max-height: 0;
    background-color: #333;
    overflow: hidden;
    margin: 0rem;
    padding: 0rem;
    opacity: 0;
    transition: padding 0.3s ease, margin 0.3s ease, max-height 0.3s ease,
      opacity 0.3s ease; /* Add transition for height and opacity */
  }
  
  .DropdownContent.open {
    background-color: #333;
    margin-top: 1rem;
    padding: 1rem;
    opacity: 1;
    max-height: 100%; /* Adjust this value as per your content height */
  }
  
  .Instructions {
    font-family: "determinetext";
    font-size: 1.5rem;
  }
  .Link {
    text-decoration: none;
    color: red;
  }
  .footer {
    padding: 1rem;
    background-color: #333;
  }
}
@media screen and (max-width: 670px) {
  .HeaderTitle {
    font-family: "coolvetica";
    font-size: 2.7rem;
    color: white;
    font-weight: 900;
    letter-spacing: 0.2rem;
  }
  h2 {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-family: "inter";
  }
  h3 {
    color: black;
    font-size: 2rem;
    text-align: center;
    font-family: "inter";
  }
}
@media screen and( max-width: 520px) {
  .HeaderTitle {
    font-family: "coolvetica";
    font-size: 2rem;
    color: white;
    font-weight: 900;
    letter-spacing: 0.2rem;
  }
  h2 {
    font-size: 1.4rem;
    text-align: center;
    font-family: "coolvetica";
  }
  h3 {
    font-family: "coolvetica";
    font-size: 1.4rem;
  }
}
