@font-face {
  font-family: "coolvetica";
  src: url("../../fonts/coolvetica rg.ttf")
    format("truetype");
  /* You might need to specify different formats for compatibility */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url("../../fonts/Inter-Regular.ttf")
    format("truetype");
  /* You might need to specify different formats for compatibility */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "inter-light";
  src: url("../../fonts/Inter-ExtraLight.ttf")
    format("truetype");
  /* You might need to specify different formats for compatibility */
  font-style: normal;
}

/* Reset default margin and padding for all elements */

* {
  margin: 0;
  padding: 0;
}

/* Set the background color for the HTML and body */
html,
body {
  height: 100%;
  background-color: white;
  color: black;

}

section {
  padding: 1.4rem;
  min-height: 100vh;
  flex: 1;
}
/* Define styles for the header container */
.HeaderContainer {
  background-image: url('../../img/head4.jpg');
  background-position-y: -16rem;
  background-size:cover;
  padding: 0.6rem;
}

  * {
    scrollbar-width: auto;
    scrollbar-color: #d9d9d9 #a3a3a3;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 24px;
  }

  *::-webkit-scrollbar-track {
    background: #a3a3a3;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 4px;
    border: 3px solid #5c5c5c;
  }
.NavItems,
.NavItems a {
  font-family: "coolvetica";
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  list-style: none;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}


/* Center align the header title */
.HeaderTitleContainer {
  text-align: center;
  margin-top: 2rem;
}
.HeaderTitle {
  font-family: "coolvetica";
  font-size: 4.5rem;
  color: white;
  font-weight: 900;
  letter-spacing: 0.2rem;
}
.GTitle {
  background-color: #0781eb;
  padding:0.4rem;
  border-radius: 0.6rem;
  margin-right: 0.2rem;
}

/* Ensure no margin for body */
body {
  margin: 0;
  padding: 0;
}
#aboutSection {
  padding: 6rem;
  border-bottom: white 0.2rem solid;
  border-top: white 0.2rem solid;
  background: #0082ff ;
  color:white
}
#aboutSection p {
  text-align: left;
}
#aboutSection span {
  color:red
}
h2 {
  font-size: 4rem;
  text-align: center;
  font-family: "inter";
}
h3 {
  font-family: "inter";
  font-size: 3rem;
}
p {
  font-family: "inter-light";
  font-size: 1.5rem;
}
.slideshow-container {
  text-align: center;
  overflow: hidden;
  width:80vw;
  margin:0 auto;
  border-radius: 1rem;
}

.slides {
  display: flex;
  width:240vw;
  justify-content: center;
  transition: transform 0.5s ease-in-out; /* Adjust the transition duration */
}

.slides img {
  flex:1;
  height: 30rem; 
  width: 80vw;

}
.InstructionBlocks {
  display:flex;
  margin:4rem;
}

.InstructionBlocks p {
  text-align: center;
  font-size: 1.4rem;
}
.Instruction {
  text-align: center;
  flex: 1;
}
.Instruction img {
  height:5rem;
}
#DownloadSection {
  background-color:#0082ff  ;
  color:white;
  padding:8rem;
}
#DownloadSection p {
  text-align: center;
}
.DownloadContainer {
  text-align: center;
}
  
#InfoDump {

  background:white
}
#InfoDump p {
  text-align: center;
}
#InfoDump h2 {
  padding:2rem;
}
.contentPack {
  padding:2rem;
  text-align: center;

}
.contentPack img {
  width:80vw;

}
.footer {
  padding: 1rem;
  text-align: center;
  background-color:#0082ff  ;
}
.alien {
  background-color: black;
  color:white;
}
.alienKill {
  color:red;
  animation: vibrate 0.1s infinite;
  font-weight: 900;
  display:inline-block
}
#aboutSectionA {
  padding: 6rem;
  border-bottom: rgb(70, 1, 1) 0.2rem solid;
  border-top: rgb(70, 1, 1) 0.2rem solid;
  background: rgb(70, 1, 1);
  color:white
}

#HowtoSection {
  padding:4rem;
  background-color: white;
}
#HowtoSectionA {
  padding:4rem;
  background-color: black;
}

.InstructionBlocksA {
  display:flex;
  color:white;
  margin:4rem;
}
#DownloadSectionA {
  background-color:rgb(70, 1, 1)  ;
  color:white;
  padding:8rem;
}
#DownloadSectionA p {
  text-align: center;
}
#InfoDumpA {
  background:black;
  color:white
}

#InfoDumpA p {
  text-align: center;
  padding:2rem;
}
#InfoDumpA h2 {
  padding:2rem;
}
.footerA {
  text-align: center;
  background-color: #333;
  padding:2rem;
  color:white;
}

.HeaderContainerA {
  background-image: url('../../img/head5.jpg');
  background-position-y: -24rem;
  background-size:cover;
  padding: 0.6rem;
}
.GTitleA {
  background-color: red;
  padding:0.4rem;
  border-radius: 0.6rem;
  margin-right: 0.2rem;
}
.siteTf {
  cursor: pointer;
  display:inline-block;
  animation: shake 4s infinite ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-0.3125rem) rotate(-2deg); } /* 5px converted to rem */
  50% { transform: translateX(0.3125rem) rotate(2deg); } /* 5px converted to rem */
  75% { transform: translateX(-0.3125rem) rotate(-2deg); } /* 5px converted to rem */
  100% { transform: translateX(0); }
}

@keyframes vibrate {
  0% { transform: translateY(0); }
  25% { transform: translateY(-0.4rem); }
  50% { transform: translateY(0); }
  75% { transform: translateY(0.4rem); }
  100% { transform: translateY(0); }
}